*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgba(218,175,0,255);
    margin: 0;
    padding: 0;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
}

header {
    text-align: center;
    padding: 20px;
}

header img {
    width: 100px;
    border-radius: 50%;
}

header h1 {
    font-size: 70px;
    color: rgba(106,28,103,255);
}

.c5{
    font-size: 30px;
    color: rgba(106,28,103,255);
}
.cinco{
    background-color: rgba(106,28,103,255);
    padding: 2%;
    border-radius: 20px;
    margin-bottom: 5%;
    .primeraparte{
        display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    margin-bottom: 5%;
    /* background-color: aqua; */
    img{
        width: 200px;
        border-radius: 20px;
    }
    .c3{
        /* background-color: orange; */
        display: grid;
        border-radius: 10px;
        text-align: left;
        color: rgba(218,175,0,255);
        
    }
    .c1{
        text-align: right;
    }
    
    }
    .segundaparte{
        display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    /* background-color: rgb(144, 0, 255); */
    img{
        width: 200px;
        border-radius: 20px;
    }
    .c6{
        display: grid;
        border-radius: 10px;
        text-align: left;
        color: rgba(218,175,0,255);
    }
    .c4{
        text-align: right;
    }
    }
    
}
.familiapat{
    /* background-color: aqua; */
    background-color: rgba(106,28,103,255);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 2fr 1fr 2fr;
    text-align: center;
        align-items: center;
        border-radius: 20px;
        margin-bottom: 5%;
        padding: 2%;
    .todos{
        width: 500px;
        display: grid;
        grid-column-start: 1;
        grid-column-end: 4;
        margin-left: 30%;
        border-radius: 20px;
        
    }
    .texto{
        display: grid;
        grid-column-start:1;
        grid-column-end:4;
        color: rgba(218,175,0,255);
    }
    .pat1{
        width: 500px;
        display: grid;
        grid-column-start:1;
        grid-column-end:3;
        margin-left: 20%;
        border-radius: 20px;
    }
    .pat2{
        width: 500px;
        display: grid;
        grid-column-start:3;
        grid-column-end:4;
        margin-right: 10%;
        border-radius: 20px;
    }
}

.familiamat img{
    width: 500px;
}

.boton{
    background-color: rgba(106,28,103,255);
    padding: 15px;
    border-radius: 50px;
    border: none;
    .volver{
        text-decoration: none;
        font-weight: bold;
        color: rgba(218,175,0,255);
    }
}